#tangram{
    width : 600px;
    height : 600px;
    margin : auto;

    background-repeat : no-repeat;
    border : 4px solid black;
}
#figure1{
    width : 0px;
    height : 0px;
    border-top : 300px solid #99cc33;
    border-right : 300px solid transparent;
}
#figure2{
    width : 300px;
    height : 150px;
    background-color : #6666cc;
    transform : translate(225px, -300px) skewX(-45deg);
}
#figure3{
    width : 212px;
    height : 212px;
    background : #ff6666;
    transform : translate(44px, -256px) rotate(45deg);
}
#figure4{
    width : 0px;
    height : 0px;
    border-top : 150px solid #ff9933;
    border-right : 150px solid transparent;
    border-left : 150px solid transparent;
    transform : translate(150px, -512px);
}
#figure5{
    width : 0;
    height : 0;
    border-top : 300px solid transparent;
    border-right : 300px solid #ffcc00;
    border-bottom : 300px solid transparent;
    transform : translate(300px, -811.8px);
}
#figure6{
    width : 0;
    height : 0;
    border-top : 150px solid transparent;
    border-left : 150px solid #3399ff;
    border-bottom : 150px solid transparent;
    transform : translate(0px, -1112px);
}
#figure7{
    width : 0;
    height : 0;
    border-right : 300px solid transparent;
    border-left : 300px solid transparent;
    border-bottom : 300px solid #33cc66;
    transform : translate(0px, -1411.9px);
}